* {
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2', cursive; }

/* NAVBAR */
.navbar-toggler {
  background-color: #eb1b92; }

.contenedor-navbar {
  padding: 18px; }

.navegacion {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.navegacion-enlaces a {
  color: #fff;
  font-size: 1.4em;
  padding: 2px;
  border: solid 1px #c33b80;
  border-radius: 12px 18px;
  margin: 0 12px 0 12px;
  align-self: center;
  height: max-content; }

.navegacion-enlaces img {
  border-radius: 50px; }

.navegacion-enlaces a {
  transition: all 0.3s; }
  .navegacion-enlaces a:hover {
    background: #c33b80;
    color: #fff;
    transform: scale(1.1); }

/* main */
.contenedor-imagen {
  width: 100%;
  height: 100vh;
  box-shadow: 4px 8px 12px #eb1b92;
  display: flex;
  justify-content: center;
  background-image: url(../IMG/1__fondoInicio.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9; }
  .contenedor-imagen h1 {
    padding-top: 28px;
    font-size: 4em;
    color: #eb1b92;
    position: absolute;
    align-self: auto;
    text-align: center; }
    .contenedor-imagen h1 br {
      display: none; }

.contenedor-titulosecundario {
  display: flex;
  justify-content: center;
  margin-top: 18px; }
  .contenedor-titulosecundario .titulo-secundario {
    font-size: 3.5em;
    color: #ffffff; }

.parallax-main {
  background: #000000;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../IMG/3__parallax.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.main-contenido {
  padding: 70px 0 100px 0; }

.contenedor-texto {
  padding: 12px 32px 12px 32px;
  width: 100%;
  display: flex;
  justify-content: center; }
  .contenedor-texto p {
    width: 70%;
    text-align: justify;
    font-size: 1.5em;
    color: #ffffff; }
    .contenedor-texto p span {
      font-weight: bold; }

#texto-final {
  width: 100%;
  display: flex;
  justify-content: center; }

.fondo-nosotros {
  background-image: url(../IMG/5__fondoRosa.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.titulo-nosotros {
  display: flex;
  justify-content: center; }
  .titulo-nosotros h1 {
    font-size: 4em;
    color: #000000;
    padding-top: 18px;
    text-align: center;
    align-self: auto;
    text-decoration: underline 5px; }

.section-main {
  display: flex;
  justify-content: center;
  width: 100%; }

/*
.card-property{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10px 0 10px;
    width: 80%;
    justify-items: center;
}
.card-profes{
    width: 400px;
    margin: 28px 12px 28px 12px;
    display: flex;
    justify-content: center;

    background-image: url(../IMG/4__fondoCards.png);
    background-size:cover ;
    background-repeat: no-repeat;

    border-radius: 10% 15% 10% 15%;

    transition: all 400ms ease;
    &:hover{
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
        transform: translateY(-3%);
    }
    img{
        height: 300px;
        width: 300px;
        align-self: center;
        margin-top: 30px;
        border-radius: 50px;
    }
}
.card-body{
    .card-title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        h5{
            font-size: 2em;
            color: $blanco;
            text-decoration:underline $rosa-3;
        }
    }
} */
.titulosecundario-nosotros {
  display: flex;
  justify-content: center;
  margin-top: 18px; }
  .titulosecundario-nosotros h2 {
    font-size: 3.5em;
    color: #000000; }

.lista-beneficios {
  display: flex;
  justify-content: start; }
  .lista-beneficios ul {
    align-self: center; }
    .lista-beneficios ul li {
      font-size: 1.5em; }

.imagen-recordatorio {
  display: flex;
  justify-content: center; }
  .imagen-recordatorio img {
    align-self: center;
    width: 80%;
    height: 80%;
    border-radius: 62px 44px;
    opacity: 0.8; }

.contenedor-card {
  width: 100vw;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  justify-items: center; }

.card {
  margin-bottom: 50px; }

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative; }
  .border:hover {
    border: 1px solid white; }

.card {
  height: 379px;
  width: 350px;
  background: grey;
  border-radius: 10px;
  transition: 0.8s ease;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.card0 {
  background: url("../IMG/ANDYHERLEIN.jpg") center center no-repeat;
  background-size: 350px; }
  .card0:hover {
    background: url("../IMG/ANDYHERLEIN.jpg") left center no-repeat;
    background-size: 500px; }
    .card0:hover h2 {
      opacity: 1; }
    .card0:hover .tw, .card0:hover .fb, .card0:hover .ig {
      opacity: 1; }

.card1 {
  background: url("../IMG/TOMIGALEA.jpg") center center no-repeat;
  background-size: 350px; }
  .card1:hover {
    background: url("../IMG/TOMIGALEA.jpg") left center no-repeat;
    background-size: 500px; }
    .card1:hover h2 {
      opacity: 1; }
    .card1:hover .tw, .card1:hover .fb, .card1:hover .ig {
      opacity: 1; }

.card2 {
  background: url("../IMG/CAMIAMBURI.jpg") center center no-repeat;
  background-size: 350px; }
  .card2:hover {
    background: url("../IMG/CAMIAMBURI.jpg") left center no-repeat;
    background-size: 500px; }
    .card2:hover h2 {
      opacity: 1; }
    .card2:hover .tw, .card2:hover .fb, .card2:hover .ig {
      opacity: 1; }

.card3 {
  background: url("../IMG/FARORODRIGUEZ.jpg") center center no-repeat;
  background-size: 350px; }
  .card3:hover {
    background: url("../IMG/FARORODRIGUEZ.jpg") left center no-repeat;
    background-size: 500px; }
    .card3:hover h2 {
      opacity: 1; }
    .card3:hover .tw, .card3:hover .fb, .card3:hover .ig {
      opacity: 1; }

.border {
  border: none !important; }
  .border h2 {
    color: #eb1b92;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s ease;
    font-size: 1.9em;
    font-weight: 400;
    width: min-content;
    text-align: center; }

.tw, .fb, .ig {
  opacity: 0;
  transition: opacity 1s ease;
  padding-bottom: 24px; }

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .icons a {
    color: #ffffff; }
  .icons .tw:hover {
    color: #00acee; }
  .icons .fb:hover {
    color: #3b5998; }
  .icons .ig:hover {
    color: #C13584; }

.main-ubicacion {
  background-image: url(../IMG/7__fondocalendario.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .main-ubicacion .titulo-horarios {
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    padding-top: 12px; }
    .main-ubicacion .titulo-horarios h2 {
      font-size: 3em; }
  .main-ubicacion .titulo-precio {
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    padding-top: 12px; }
    .main-ubicacion .titulo-precio h2 {
      font-size: 3em; }
  .main-ubicacion .titulo-ubicacion {
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    padding-top: 18px; }
    .main-ubicacion .titulo-ubicacion h1 {
      font-size: 4em; }
  .main-ubicacion .mapa-ubicacion {
    display: flex;
    justify-content: center;
    margin: 28px 0; }
    .main-ubicacion .mapa-ubicacion iframe {
      border-radius: 20px; }
  .main-ubicacion .card-precios {
    position: relative;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    margin: 44px auto;
    padding: 40px 20px;
    -webkit-box-shadow: 0 10px 15px #d5d5d5;
    box-shadow: 0 10px 15px #dc97c7;
    -webkit-transition: .5s;
    transition: .5s; }
    .main-ubicacion .card-precios:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    .main-ubicacion .card-precios::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      z-index: 1;
      -webkit-transform: skewY(-5deg) scale(1.5);
      transform: skewY(-5deg) scale(1.5); }
    .main-ubicacion .card-precios .title h2 {
      position: relative;
      margin: 20px  0 0;
      padding: 0;
      color: #fff;
      font-size: 28px;
      z-index: 2; }
    .main-ubicacion .card-precios .title .fa {
      color: #fff;
      font-size: 60px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      text-align: center;
      line-height: 100px;
      -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); }
    .main-ubicacion .card-precios .price {
      position: relative;
      z-index: 2; }
    .main-ubicacion .card-precios .price h4 {
      margin: 0;
      padding: 20px 0;
      color: #fff;
      font-size: 60px; }
    .main-ubicacion .card-precios a {
      position: relative;
      z-index: 2;
      background: #fff;
      color: black;
      width: 150px;
      height: 40px;
      line-height: 40px;
      border-radius: 40px;
      display: block;
      text-align: center;
      margin: 20px auto 0;
      font-size: 1.2em;
      font-weight: 600;
      cursor: pointer;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      text-decoration: none;
      transition: all .5s ease; }
      .main-ubicacion .card-precios a:hover {
        background-color: #eb1b92;
        color: #ffffff;
        transform: scale(1.1); }
  .main-ubicacion .col-sm-6:nth-child(1) .card-precios,
  .main-ubicacion .col-sm-6:nth-child(1) .card-precios .title .fa {
    background: linear-gradient(-45deg, #f403d1, #64b5f6); }
  .main-ubicacion .col-sm-6:nth-child(2) .card-precios,
  .main-ubicacion .col-sm-6:nth-child(2) .card-precios .title .fa {
    background: linear-gradient(-45deg, #ffec61, #f321d7); }
  .main-ubicacion .contenedor-tabla {
    display: flex;
    justify-content: center; }
    .main-ubicacion .contenedor-tabla .calendario {
      background-color: #ff6ca8;
      align-content: center;
      width: 80%;
      min-height: 300px;
      margin: 30px;
      border-radius: 10px; }
      .main-ubicacion .contenedor-tabla .calendario thead tr th {
        background-color: transparent;
        border: 1px solid  transparent;
        border-radius: 50px;
        height: 50px;
        text-align: center;
        vertical-align: center;
        font-size: 25px; }
      .main-ubicacion .contenedor-tabla .calendario tbody .turno {
        width: 100%; }
        .main-ubicacion .contenedor-tabla .calendario tbody .turno td {
          background-color: #000000;
          text-align: center;
          height: 12px;
          color: #ffffff;
          font-size: 2em;
          padding: 0; }
      .main-ubicacion .contenedor-tabla .calendario tbody tr .libre, .main-ubicacion .contenedor-tabla .calendario tbody tr .horas, .main-ubicacion .contenedor-tabla .calendario tbody tr .funcional, .main-ubicacion .contenedor-tabla .calendario tbody tr .personalizado {
        width: 10%;
        margin: 2%;
        padding: 2%;
        height: 60px;
        border: 2px outset transparent;
        vertical-align: top;
        text-align: center;
        border-radius: 10px;
        font-size: 1.2em; }
      .main-ubicacion .contenedor-tabla .calendario tbody tr td:active span {
        visibility: visible; }

.main-entrenamiento {
  background-image: url(../IMG/4__fondoCards.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.titulo-entrenamiento {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding-top: 12px;
  margin-bottom: 20px; }
  .titulo-entrenamiento h1 {
    font-size: 3em; }

.titulo-img {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding-top: 12px; }
  .titulo-img h2 {
    font-size: 3em; }

.blog-card {
  height: 250px;
  display: flex;
  flex-direction: column;
  margin: 12px auto 12px auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #ffffff;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0; }
  .blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg); }
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px; }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s; }
  .blog-card .details,
  .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none; }
  .blog-card .description {
    padding: 1rem;
    background: #ff6ca8;
    position: relative;
    z-index: 1; }
    .blog-card .description h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7em;
      color: #000000; }
    .blog-card .description h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #434141;
      margin-top: 5px; }
  .blog-card p {
    position: relative;
    margin: 1rem 0 0;
    color: #000000; }
    .blog-card p:first-of-type {
      margin-top: 1.25rem; }
      .blog-card p:first-of-type:before {
        content: "";
        position: absolute;
        height: 5px;
        background: aqua;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px; }
  .blog-card:hover .details {
    left: 0%; }
  @media (min-width: 640px) {
    .blog-card {
      flex-direction: row;
      max-width: 800px; }
      .blog-card .meta {
        flex-basis: 40%;
        height: auto; }
      .blog-card .description {
        flex-basis: 60%; }
        .blog-card .description:before {
          transform: skewX(-3deg);
          content: "";
          background: #ff6ca8;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1; }
      .blog-card.alt {
        flex-direction: row-reverse; }
        .blog-card.alt .description:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg); }
        .blog-card.alt .details {
          padding-left: 25px; } }

.contenedor-galeria {
  display: flex;
  overflow-x: auto;
  padding-bottom: 32px; }
  .contenedor-galeria .gal-iten img {
    max-height: 250px;
    overflow: hidden;
    margin: 25px 10px 25px 35px;
    border: 7px solid #fff;
    opacity: 0.55;
    z-index: -1;
    transition: transform .15s ease;
    filter: blur(1px); }
  .contenedor-galeria .gal-iten img:hover {
    opacity: 1.0;
    height: 300px;
    /* display: block;*/
    position: absolte;
    transform: scale(1.15);
    filter: drop-shadow(0 15px 15px #000); }

.active {
  scroll-snap-type: unset; }

/* footer */
#backgraund {
  background: #212529; }

#cont-foot {
  padding-top: 60px; }

.copy {
  color: #eb1b92;
  padding: 4px;
  margin-bottom: 4px;
  font-size: 1.2em;
  font-weight: 600; }

.titulo-footer {
  display: flex;
  justify-content: center;
  width: max-content; }
  .titulo-footer h3 {
    align-self: center;
    color: #eb1b92;
    font-weight: 600;
    font-size: 1.8em; }

.contenedor-icon {
  display: inline-flex;
  list-style: none;
  height: max-content;
  justify-content: start;
  padding: 0;
  margin-bottom: 12px; }
  .contenedor-icon .icon {
    position: relative;
    background: #c8c4c4;
    border-radius: 50%;
    margin: 0px 10px;
    width: 50px;
    height: 50px;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .contenedor-icon .icon:hover .icon-nombre {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto; }
  .contenedor-icon .icon-nombre {
    position: absolute;
    top: 0;
    font-size: 0.7em;
    background: #ffffff;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .contenedor-icon .instagram {
    display: flex;
    justify-content: center; }
    .contenedor-icon .instagram:hover {
      background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
      color: #fff; }
      .contenedor-icon .instagram:hover .icon-nombre {
        background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        color: #fff; }
        .contenedor-icon .instagram:hover .icon-nombre::before {
          background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
          color: #fff; }
    .contenedor-icon .instagram a {
      text-decoration: none;
      color: #000000; }
    .contenedor-icon .instagram i {
      align-content: flex-end;
      padding: 8px; }

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  /*Main INICIO*/
  .contenedor-imagen h1 {
    padding-top: 28px; }
  /* Main NOSOTROS*/
  .titulo-nosotros h1 {
    font-size: 3.5em; }
  /*Main pagina UBICACION*/
  .contenedor-tabla {
    display: flex;
    justify-content: center; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /*NAV*/
  .navegacion-enlaces a {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 30px; }
  .navegacion-enlaces img {
    position: absolute;
    top: 0%;
    right: 0%; }
  /* Main pagina INICIO*/
  .contenedor-imagen {
    background: url(../IMG/2__fondoInicioMobile.svg);
    background-position: center;
    background-size: cover; }
    .contenedor-imagen h1 {
      padding-top: 70px;
      font-size: 3.5em; }
      .contenedor-imagen h1 br {
        display: block; }
  .titulo-secundario {
    font-size: 2.5em !important; }
  .contenedor-texto p {
    font-size: 1.4em; }
  /*MAIN NOSOTROS*/
  .titulo-nosotros h1 {
    font-size: 3em; }
  /*Main pagina UBICACION*/
  .contenedor-tabla {
    display: flex;
    justify-content: center; }
  .titulo-horarios {
    display: flex;
    justify-content: center; }
    .titulo-horarios h1 {
      font-size: 1em; }
  .turno td {
    font-size: 1.5em; }
  /* FOOTER*/
  .titulo-footer h3 {
    font-size: 1.5em; }
  .copy {
    font-size: 1em; }
  .icono-insta {
    width: max-content; }
  .contenedor-icon {
    width: max-content; }
    .contenedor-icon .icon {
      width: 40px;
      height: 40px; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  /*NAV*/
  .navegacion-enlaces a {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 30px; }
  .navegacion-enlaces img {
    position: absolute;
    top: 0%;
    right: 0%; }
  /*Main INICIO*/
  .contenedor-imagen {
    background: url(../IMG/2__fondoInicioMobile.svg);
    background-position: center;
    background-size: cover; }
    .contenedor-imagen h1 {
      padding-top: 48px;
      font-size: 3em; }
      .contenedor-imagen h1 br {
        display: block; }
  /* Main NOSOTROS*/
  .titulo-nosotros h1 {
    font-size: 3em; }
  .contenedor-card {
    grid-template-columns: repeat(1, 1fr); }
  /*Main pagina UBICACION*/
  .contenedor-tabla {
    display: block; }
  .turno td {
    font-size: 1.5em; } }

@media screen and (min-width: 320px) and (max-width: 480px) {
  /*NAV*/
  .navegacion-enlaces a {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 30px; }
  .navegacion-enlaces img {
    position: absolute;
    top: 0%;
    right: 0%; }
  /* Main pagina INICIO*/
  .contenedor-imagen {
    background: url(../IMG/2__fondoInicioMobile.svg);
    background-position: center;
    background-size: cover; }
    .contenedor-imagen h1 {
      margin-top: 12%;
      font-size: 3em; }
      .contenedor-imagen h1 br {
        display: block; }
  .titulo-secundario {
    font-size: 2.5em !important; }
  .contenedor-texto p {
    width: 100%;
    font-size: 1.1em; }
  /* Main pagina NOSOTROS*/
  .card-responsive {
    display: grid;
    grid-template-columns: 1fr; }
  .titulo-nosotros h1 {
    font-size: 3em; }
  /*Main pagina UBICACION*/
  .titulo-entrenamiento h1 {
    font-size: 2.2em; }
  .titulo-horarios {
    display: flex;
    justify-content: center; }
    .titulo-horarios h2 {
      font-size: 2.2em;
      width: min-content; }
  .contenedor-tabla {
    display: block; }
  .turno td {
    font-size: 1.5em; }
  .horas {
    font-size: 1em; }
  .contenedor-card {
    grid-template-columns: repeat(1, 1fr); }
  .card {
    width: 300px; }
  /* FOOTER*/
  .titulo-footer h3 {
    font-size: 1em; }
  .copy {
    font-size: .8em; }
  .icono-insta {
    width: max-content; }
  .contenedor-icon {
    width: max-content; }
    .contenedor-icon .icon {
      width: 40px;
      height: 40px; } }
