/* main */
.contenedor-imagen{
    width: 100%;
    height: 100vh;
    box-shadow: 4px 8px 12px $rosa-1;
    
    display: flex;
    justify-content: center;

    background-image: url(../IMG/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    opacity: 0.9;

    h1{
        font-size:3.9em;
        color: $rosa-1;
        position: absolute;
        align-self:auto;
        text-align: center;
    }
}

.contenedor-titulosecundario{
    display: flex;
    justify-content: center;
    margin-top: 18px;
    .titulo-secundario{
        font-size: 3.5em;
        color: $blanco;
    
    }
}
.parallax-main{
    background: $negro;
    background: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.8)
    ),
    url(../IMG/fondo1.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-contenido{
    padding: 70px 0 100px 0;
}
.contenedor-texto{
    padding: 12px 32px 12px 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    p{
        width: 70%;
        text-align: justify;
        font-size: 1.5em;
        color: $blanco;
        span{
            font-weight: bold;
        }
    }
}