@media screen and (min-width: 320px)and(max-width:425px){

    /*NAV*/
    .navegacion-enlaces{
        a{
            width: 100%;
            height: 40px;
            text-align: center;
            margin-top: 30px;
        }
        img{
            position: absolute;
            top: 0%;
            right: 0%;
        }
    }
    /* Main pagina INICIO*/
    .contenedor-imagen{
        background: url(../IMG/fondoInicio320px.svg);
        background-position:center;
        background-size:cover;
        h1{
            margin-top: 12%;
            font-size: 3em;
        }
    }
    .titulo-secundario{
        font-size: 2.5em !important;
    } 
    .contenedor-texto{
        p{
            width: 100%;
            font-size: 1.2em;
        }
    }
    /* Main pagina NOSOTROS*/
    .card-responsive{
        display: grid;
        grid-template-columns: 1fr;
    }
    .titulo-nosotros{
        h1{
            font-size: 3em;
        }
    }
    .card-property{
        grid-template-columns: 1fr;
    }
    .section-main{
        width: 100%;
        justify-content: center;
    }
    .card-profes{
        width: 100%;

        img{
            height: 210px;
            width: 210px;
            border-radius: 30% ;
        }
    }

    /* FOOTER*/
    .titulo-footer{
        h3{
            font-size: 1em;
        }
    }
    .copy{
        font-size: .8em;
    }
    .icono-insta{
        width: max-content;
    }
    .contenedor-icon{
        width: max-content;
        .icon{
            width: 40px;
            height: 40px;
        }
    }
}
@media screen and (min-width: 426px)and(max-width:750px){
    /*NAV*/
    .navegacion-enlaces{
        a{
            width: 100%;
            height: 40px;
            text-align: center;
            margin-top: 30px;
        }
        img{
            position: absolute;
            top: 0%;
            right: 0%;
        }
    }
    /*Main INICIO*/
    .contenedor-imagen{
        background: url(../IMG/NoTeConformes.png);
        background-position:center;
        background-size:cover;
        h1{
            font-size: 2.5em;
        }
    }
    /* Main NOSOTROS*/
    .titulo-nosotros{
        h1{
            font-size: 3em;
        }}
    .card-property{
        grid-template-columns: 1fr;
    }
    .section-main{
        width: 100%;
        justify-content: center;
    }
    .card-profes{
        width: 80%;

        img{
            height: 210px;
            width: 210px;
            border-radius: 30% ;
        }
    }
}
@media screen and (min-width: 751px)and(max-width:991px){
    /*NAV*/
    .navegacion-enlaces{
        a{
            width: 100%;
            height: 40px;
            text-align: center;
            margin-top: 30px;
        }
        img{
            position: absolute;
            top: 0%;
            right: 0%;
        }
    }
    /* Main pagina INICIO*/
    .contenedor-imagen{
        h1{
            font-size: 3.5em;
        }
    }
    .titulo-secundario{
        font-size: 2.5em !important;
    } 
    .contenedor-texto{
        p{
            font-size: 1.4em;
        }
    }

    /*MAIN NOSOTROS*/
    .titulo-nosotros{
        h1{
            font-size: 3em;
        }
    }
    .card-property{
        grid-template-columns: 1fr 1fr;
    }
    .section-main{
        width: 100%;
        
    }
    .card-profes{
        width: 90%;
        img{
            height: 250px;
            width: 250px;
        }
    }
    /* FOOTER*/
    .titulo-footer{
        h3{
            font-size: 1.5em;
        }
    }
    .copy{
        font-size: 1em;
    }
    .icono-insta{
        width: max-content;
    }

    .contenedor-icon{
        width: max-content;
        .icon{
            width: 40px;
            height: 40px;
        }
    }
}
@media screen and (min-width: 992px)and(max-width:1100px){
    /* Main NOSOTROS*/
    .section-main{
        width: 80%;
    }
    .titulo-nosotros{
        h1{
            font-size: 3.5em;
        }
    }
}