.fondo-nosotros{
    background-image: url(../IMG/fondoRosa.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}
.titulo-nosotros{
    display: flex;
    justify-content: center;
    h1{
        font-size: 5em;
        color: $negro;
        padding-top: 18px;
        text-align: center;
        align-self: auto;
        text-decoration:underline 5px;
    }

}
.section-main{
    display: flex;
    justify-content: center;
    width: 100%;
}
.card-property{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10px 0 10px;
    width: 80%;
    justify-items: center;
}
.card-profes{
    width: 400px;
    margin: 28px 12px 28px 12px;
    display: flex;
    justify-content: center;

    background-image: url(../IMG/fondoCards.png);
    background-size:cover ;
    background-repeat: no-repeat;

    border-radius: 10% 15% 10% 15%;

    transition: all 400ms ease;
    &:hover{
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
        transform: translateY(-3%);
    }
    img{
        height: 300px;
        width: 300px;
        align-self: center;

        padding-top: 40px;
        border-radius: 50%;
    }
}
.card-body{
    .card-title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        h5{
            font-size: 2em;
            color: $blanco;
            text-decoration:underline $rosa-3;
        }
    }
}

