.fondo-nosotros{
    background-image: url(../IMG/5__fondoRosa.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}
.titulo-nosotros{
    display: flex;
    justify-content: center;
    h1{
        font-size: 4em;
        color: $negro;
        padding-top: 18px;
        text-align: center;
        align-self: auto;
        text-decoration:underline 5px;
    }

}
.section-main{
    display: flex;
    justify-content: center;
    width: 100%;
}/*
.card-property{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10px 0 10px;
    width: 80%;
    justify-items: center;
}
.card-profes{
    width: 400px;
    margin: 28px 12px 28px 12px;
    display: flex;
    justify-content: center;

    background-image: url(../IMG/4__fondoCards.png);
    background-size:cover ;
    background-repeat: no-repeat;

    border-radius: 10% 15% 10% 15%;

    transition: all 400ms ease;
    &:hover{
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
        transform: translateY(-3%);
    }
    img{
        height: 300px;
        width: 300px;
        align-self: center;
        margin-top: 30px;
        border-radius: 50px;
    }
}
.card-body{
    .card-title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        h5{
            font-size: 2em;
            color: $blanco;
            text-decoration:underline $rosa-3;
        }
    }
} */
.titulosecundario-nosotros{
    display: flex;
    justify-content: center;
    margin-top: 18px;
    h2{
        font-size: 3.5em;
        color: $negro;
    }
}
.lista-beneficios{
    display: flex;
    justify-content: start;
    ul{
        align-self: center;
        li{
            font-size: 1.5em;
        }
    }
}
.imagen-recordatorio{
    display: flex;
    justify-content: center;
    img{
        align-self: center;
        width:80%;
        height: 80%;
        border-radius: 62px 44px;
        opacity: 0.8;
    }
}









.contenedor-card{
    width: 100vw;
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 auto;
    justify-items: center;

}
.card{
    margin-bottom: 50px;
}

.border{
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;

  &:hover{
    border: 1px solid white;
  }
}




.card{
    height: 379px;
    width: 350px;
    background: grey;
    border-radius: 10px;
    transition:  0.8s ease;
    overflow: hidden;
    background: black;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.card0{
    background: url("../IMG/ANDYHERLEIN.jpg") center center no-repeat;
    background-size: 350px;

  &:hover{
        background: url("../IMG/ANDYHERLEIN.jpg") left center no-repeat;
        background-size: 500px;
        h2{
            opacity: 1;
        }

        .tw, .fb, .ig{
            opacity: 1;
        }
    }
}


.card1{
    background: url("../IMG/TOMIGALEA.jpg") center center no-repeat;
    background-size: 350px;

    &:hover{
        background: url("../IMG/TOMIGALEA.jpg") left center no-repeat;
        background-size: 500px;
        h2{
            opacity: 1;
        }
        .tw, .fb, .ig{
            opacity: 1;
        }
    }
}



.card2{
        background: url("../IMG/CAMIAMBURI.jpg") center center no-repeat;
        background-size: 350px;

    &:hover{
        background: url("../IMG/CAMIAMBURI.jpg") left center no-repeat;
        background-size: 500px;
    h2{
        opacity: 1;
    }

    .tw, .fb, .ig{
        opacity: 1;
    }
  }
}

.card3{
    background: url("../IMG/FARORODRIGUEZ.jpg") center center no-repeat;
    background-size: 350px;

    &:hover{
        background: url("../IMG/FARORODRIGUEZ.jpg") left center no-repeat;
        background-size: 500px;
        h2{
            opacity: 1;
        }
        .tw, .fb, .ig{
            opacity: 1;
        }
    }
}

.border{
    border: none !important;
    h2{
        color: $rosa-1;
        margin: 20px;
        opacity: 0;
        transition: opacity 1s ease  ;

        font-size: 1.9em;
        font-weight: 400;
        width: min-content;
        text-align: center;
    }
}

.tw, .fb, .ig{  
    opacity: 0;
    transition: opacity 1s ease;
    padding-bottom: 24px;
}

.icons{
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        color: $blanco;
    }
    .tw{
        &:hover{
            color: #00acee;
        }
    }
    .fb{
        &:hover{
            color: #3b5998;
        }
    }
    .ig{
        &:hover{
            color: #C13584;  
        }
    }
}
