.main-ubicacion{
    background-image: url(../IMG/7__fondocalendario.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.contenedor-tabla{
    display: flex;
    justify-content: center;

}
.calendario {
    background-color: $rosa-5;
    align-content: center;
    width: 80%;
	min-height:300px;
	margin: 30px;
    border-radius: 10px;
}
.titulo-horarios {
    
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    padding-top: 12px; 
    h2{
        font-size: 3em;
    }
}
.titulo-ubicacion{
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    padding-top: 12px;
    h1{
        font-size: 3em;
    } 
}
.turno{
    width: 100%;
    td{
        background-color: $negro;
        text-align: center;
        height: 12px;
        color: $blanco;
        font-size: 2em;
        padding: 0;    
    }
}
.libre, .horas, .funcional, .personalizado{

    width:10%;
    margin: 2%;
    padding:2%;
    height:60px;
    border: 2px outset transparent;
    vertical-align:top;

    text-align: center;
    border-radius: 10px;

     font-size: 1.2em;

}
// .horas{

//     width:10%;
//     margin: 2%;
//     padding:2%;
//     height:60px;
//     border: 2px outset transparent;
//     vertical-align:top;

//     text-align: center;
//     border-radius: 10px;

//     font-size: 1.2em;
// }
// .funcional {

//     width:10%;
//     margin: 2%;
//     padding:2%;
//     height:60px;
//     border: 2px outset transparent;
//     vertical-align:top;

//     text-align: center;
//     border-radius: 10px;

//     font-size: 1.2em;

// 	}
// .personalizado{  

//     width:10%;
//     margin: 2%;
//     padding:2%;
//     height:60px;
//     border: 2px outset transparent;
//     vertical-align:top;

//     text-align: center;
//     border-radius: 10px;

//     font-size: 1.2em;

    
//}
thead {
    tr{
      th{
          background-color: transparent; 
          border: 1px solid  transparent;
          border-radius: 50px ; 
          height:50px;
          text-align:center;
          vertical-align:center;
          font-size:25px;          
      }
    } 
  }
td{
    &:active{
        span{
            visibility: visible;

        }
    }
}