* { 
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
}
@import "variables";
@import "nav";
@import "inicio";
@import "nosotros";
@import "ubicacion";
@import "entrenamiento";
@import "footer";
@import "mediaq";

